body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MuliSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
.top_nav {
  background-color: #4f3267;
  height: 20px;
}

.logo img {
  height: 72px;
  width: 200px;
  margin-top: 4px;
}
.upper_nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 72px;
  width: 100%;
  background-color: #f6f4ff;
  font-size: 14px;
}

.services {
  display: flex;
}
.services > div {
  margin-left: 12px;
  margin-right: 12px;
}
.lower_nav_bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f9f9fa;
  font-size: 14px;
}
.lower_nav_bar li {
  margin-left: 10px;
  margin-right: 10px;
}
.signIn_popup {
  position: relative;
  display: inline-block;
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.signIn:hover .signIn_popup {
  visibility: visible;
  opacity: 1;
}
.signin_cart_container {
  display: flex;
}
.signin_cart_container > div {
  margin-left: 10px;
  margin-right: 10px;
}
.pincode {
  display: flex;
}
.pincode > div {
  margin-left: 4px;
}
.search-container {
  display: flex;
  justify-content: center;
  border-color: #4f3267;
}

/* Style the search input */
.search-container input[type="text"] {
  padding: 4px;
  border: 1px solid #4f3267;
  border-radius: 5px 0 0 5px;
  width: 80%;
  font-size: 17px;
}

/* Style the search button */
.search-container button {
  background: linear-gradient(
      to right,
      rgb(222, 87, 229) 0%,
      rgb(136, 99, 251) 100%
    )
    0px 0px / auto;
  color: white;
  padding: 4px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 17px;
}

/* Style the search icon */
.search-container button i {
  margin-right: 5px;
}
.middle_banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  padding: 12px;
}
.middle_banner img {
  width: 100%;
}
.bottom_banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 8px;
  padding: 8px;
  grid-template-areas:
    "banner1 banner1 banner2 banner2"
    "banner1 banner1 banner3 banner3";
}
.item_a {
  grid-area: banner1;
}
.item_b {
  grid-area: banner2;
}
.item_c {
  grid-area: banner3;
}
footer {
  background-color: rgb(246, 239, 246);
  margin-top: 40px;
}

.footer_container {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
}
.footer_row1 {
  display: flex;
  justify-content: space-between;
}
footer li {
  list-style: none;
  font-size: 12px;
  color: rgb(135, 118, 157);
  padding-top: 4px;
  padding-bottom: 4px;
}
.heading {
  font-size: 16px;
  font-weight: bold;
  color: rgb(35, 21, 53);
}
.communication_Icons {
  display: flex;
  justify-content: flex-start;
}
.communication_Icons > li {
  padding-left: 8px;
  padding-right: 8px;
}

.social_logo {
  font-size: 32px;
  margin-right: 12px;
  background: linear-gradient(
      to right,
      rgb(222, 87, 229) 0%,
      rgb(136, 99, 251) 100%
    )
    0px 0px / auto;
  color: rgb(246, 239, 246);
}
.logout button {
  background-color: white;
  border: 1px solid #4f3267;
  color: #4f3267;
  border-radius: 4px;
}
